.waste-square-container {
  position: relative;
  height: 220px;
  width: 200px !important;
  border-radius: 8px;
  border: 1px solid grey;
  background-color: rgb(235, 233, 233);

  margin-left: 21px;
  margin-right: 15px;

  display: flex;
  flex-flow: column nowrap;

  .waste-image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 110px;
  }

  .waste-field-block {
    margin-top: 10px;
    margin-left: 8px;
    text-align: left;
    position: relative;
    bottom: 4px;
  }
}
