.profile-square-container {
  height: 400px;

  .data-image {
    height: auto;
    text-align: center;

    & > img {
      border-radius: 8px;
      border: 1px solid #161616;
    }
  }

  & > div:first-child + div {
    margin-top: 10px;
  }

  .data-resident {
    font-size: 20px;
    color: #161616;
    margin-bottom: 5px;
    margin-left: 30px;
  }
}
