.doughnut-labels {
  margin-top: 20px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;

  & > div {
    height: 30px;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 4px;
  }

  .paper {
    background-color: #cb401b;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .plastic {
    background-color: #a1dffb;
  }

  .glass {
    background-color: #f9de59;
  }

  .other-waste {
    background-color: #9db802;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
