.resident-profile {
  height: auto;
  margin-top: 20px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  &__wrapper-data {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

    border-radius: 8px;

    .resident-profile-header {
      font-size: 25px;
      font-weight: 400;
      color: #161616;
      text-align: center;
      margin-bottom: 5px;
      margin-top: 20px;
      position: relative;
      bottom: 8px;
    }
  }
}

.resident-profile-loading {
  width: 800px;
  margin-top: 40px;

  text-align: center;

  margin: {
    left: auto;
    right: auto;
  };
}

.resident-profile-error-block {
  width: 800px;
  margin-top: 20px;

  margin: {
    left: auto;
    right: auto;
  };
}
