.get-wastes-resident-container {
  width: 600px;
  margin-top: 20px;
  position: relative;

  margin: {
    left: auto;
    right: auto;
  }

  .back-btn {
    position: absolute;
    left: -100px;
  }

  .wastes-wrapper {
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

    .wastes-header {
      font-size: 25px;
      font-weight: 400;
      color: #3cb649;
      text-align: center;
      margin-bottom: 5px;
      margin-top: 20px;
      position: relative;
      top: 15px;
    }

    .container-for-wastes {
      height: 300px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
    }

    .controls-container {
      text-align: center;

      .nonext {
        display: none;
      }

      .prev-btn {
        height: 40px;
        margin-left: 20px;
      }

      .next-btn {
        height: 40px;
        width: 152px;
        margin-right: 20px;
      }
    }
  }
}
