.get-all-wastes-statistic-by-resident {
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  .wastes-residents-wrapper {
    width: 600px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;

    border-radius: 8px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

    .wastes-resident-header {
      font-size: 25px;
      font-weight: 400;
      color: #3cb649;
      text-align: center;
      margin-bottom: 5px;
      margin-top: 20px;
      position: relative;
      bottom: 5px;
    }

    .container-for-wastes-residents {
      height: 300px;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
    }

    .wastes-controls-container {
      text-align: center;

      .nonext {
        display: none;
      }

      .prev-btn {
        height: 40px;
        margin-left: 20px;
      }

      .next-btn {
        height: 40px;
        width: 152px;
        margin-right: 20px;
      }
    }
  }

  .doughnut-diagram-of-resident {
    width: 300px;
    height: 500px;
  }
}

.no-data-resident-wastes {
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 10px;
}
