.cleaner-flat-container {
  width: 600px;
  height: 300px;

  margin: {
    left: auto;
    right: auto;
  };

  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

  .cleaner-flat-header {
    font-size: 25px;
    font-weight: 400;
    color: #3cb649;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 20px;
    position: relative;
    text-align: center;
    top: 10px;
  }

  .cleaner-flat-wrapper {
    height: auto;

    display: flex;
    flex-flow: row nowrap;
    overflow-y: scroll;

    margin-top: 20px;
  }
}
