.cleaner-bin-square-container {
  position: relative;
  height: 250px;
  width: 170px !important;
  border-radius: 8px;
  border: 1px solid grey;
  background-color: rgb(235, 233, 233);

  margin-left: 21px;
  margin-right: 15px;

  display: flex;
  flex-flow: column nowrap;

  .cleaner-bin-image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 110px;
    width: 120px;

    margin: {
      left: auto;
      right: auto;
    };
  }

  .cleaner-bin-amount-block {
    margin-top: 10px;
    margin-left: 8px;
    text-align: left;
    position: relative;
    bottom: 4px;
  }

  .cleaner-bin-type-block {
    margin-top: 10px;
    margin-left: 8px;
    text-align: left;
    position: relative;
    bottom: 4px;
  }

  .cleaner-bin-price-block {
    margin-top: 10px;
    margin-left: 8px;
    text-align: left;
    position: relative;
    bottom: 4px;
  }

  .cleaner-control-btn {
    width: 150px;
    font-size: 10px;
    margin-top: 2px;
    margin-right: auto;
    margin-left: auto;
  }
}
